body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Open Sans", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
  margin-top: 10px;
  margin-bottom: 20px;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  color: #f5a623;
  line-height: 48px;
  display: block;
}

h2 {
  font-family: "Lato", sans-serif;
  font-style: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: bold;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}

.title-text {
  font-size: 18px;
  font-weight: bold;
  color: #0A8FBC;
  line-height: 16px;
  padding: 10px 10px 10px 0;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

.level-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
  margin-right: 20%;
}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  /*margin-top: 10px;*/
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 28px;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.black-text {
  color: rgb(51, 51, 51);
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/***Background***/
/*body {
  height: 100%;
  background: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
*/

header {
  height: 100%;
  background: url(../images/header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
}

#header {
  padding-top: 100px;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  padding: 20px;
  margin: 0 auto;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

span {
  /*padding: 5px;*/
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {

}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {

  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

/***Sections***/
section {
  padding: 40px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-color: rgba(231, 231, 231, 0.11);
}

.black-header {
  color: rgb(90, 90, 90);
}

.black-section {
  background-color: rgb(0, 0, 0);
}

.white-header {
  color: rgb(255, 255, 255);
}

.white-section {
  background-color: rgb(255, 255, 255);
}

.section-header {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 32px;
  margin-bottom: 5px;
  padding-left: 0px;
}

.section-subheader {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 5px;
  padding-left: 0px;
}

.p-white {
  color: rgb(242, 242, 242);
}

/***Projects***/
.img-holder {
  display: none;
  height: 200px;
  margin: 20px 0 20px 0;
}

.project-image {
  display: none;
  max-height: 100%;
}

/***Key Skills***/
#keySkills {
  margin-top: 15px;
  padding-left: 10%
}

/***Map***/
#map {
  display: block;
  position: relative;
  height: 100%;
  margin: 0 5%;
  margin-top: 20px;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 15%;
}

/***Navbar***/
.navbar-default {
  background-color: rgba(245, 166, 35, 0.09);
  border-color: rgba(231, 231, 231, 0.11);
  font-style: "Montserrat", sans-serif;
  font-weight: 600;
  color: black;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background-color: rgba(231, 231, 231, 0.42);
}

.navbar-brand {
  padding: 5px 0 5px 10px;
} /***Override the navbar-brand class in order to make the logo fit its container***/

.logo {
  max-height: 100%;
  padding: 5px;
}

/***Contact me***/
#inputMessage {
  height: 160px;
}

.input-message {
  padding: 0 5% 0 5%; 
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
  .project-image {
    display: inline;
  }
  .img-holder {
    display: block;
  }

  #mapDiv {
    padding-bottom: 5%;
  }
}

/***hr***/
hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.hr-orange {
  border-top: 3px solid #F5A623;
  width: 10%;
}

.hr-orange-mini {
  border-top: 3px solid;
  border-top-color: rgba(245, 166, 35, 0.3);
  width: 3%;
}

/***Form***/
form {
  margin-top: 20px;
}

